<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOVE</title>
</head>
<body>
<!--
更多语法参考 thymeleaf官网
-->
<div class="emailpaged" style="background: #fff;">
    <div class="emailcontent" style="width:100%;max-width:720px;text-align: left;margin: 0 auto;padding-top: 20px;padding-bottom: 80px">
        <div class="emailtitle" style="border-radius: 5px;border:1px solid #eee;overflow: hidden;">
            <h1 style="color:#fff;background: #3798e8;line-height:70px;font-size:24px;font-weight:normal;padding-left:40px;margin:0" th:text="'亲爱的'+${username}+'，你好呀！'">
            </h1>
            <div class="emailtext" style="background:#fff;padding:20px 32px 40px;">

                <p style="color: #6e6e6e;font-size:13px;line-height:24px;" th:text="'只想对你说：'"></p>
                <br />
                <p style="color: #6e6e6e;font-size:13px;line-height:24px;padding:10px 20px;background:#f8f8f8;margin:0" th:text="${content}"></p>
                <br/>

                <p style="color: #6e6e6e;font-size:13px;line-height:24px;" th:text="'当前时间：'+ ${date}"></p>
                <br/>
                <p style="color: #6e6e6e;font-size:13px;line-height:24px;" th:text="'温馨提示：'+ ${tishi}"></p>
            </div>
            <p style="color: #6e6e6e;font-size:13px;line-height:24px;text-align:right;padding:0 32px">邮件来自：
                <a th:href="${fromurl}" style="color:#51a0e3;text-decoration:none" th:text="'每天爱你的'+${user}"></a>
            </p>
        </div>
    </div>
</div>
</body>
</html>